@import 'variables.scss';
@import 'mixins.scss';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

//Firefox
input[type='number'] {
    -moz-appearance: textfield;
}

//---Componente seleccion cursor----
::-moz-selection {
    /* Code for Firefox */
    color: $white;
    background: #0076c0;
}

::selection {
    color: $white;
    background: #0076c0;
}
//------------Componente Main------------------//

button,
a {
    @include ease(300ms);
    text-decoration: none !important;
}

p {
    color: $bold-opaque;
    font-size: 16px;
    a {
        font-weight: 600;
        color: $primary;
        &:hover,
        &:active {
            color: $dark-primary;
        }
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $bold-opaque;
}

h2 {
    @media (min-width: $tablet-big) {
        font-size: 42px;
    }
    font-size: 24px;
    font-weight: 300;
}
main {
    // padding-top: 20px;
    p {
        color: rgba(0, 0, 0, 0.79);
        font-size: 16px;
    }
    p:last-child {
        margin-bottom: 0px !important;
    }
}

//-----------Componente NAV Bootstrap----------//
header {
    // position: fixed;
    width: 100%;
    // top: 0;
}
nav {
    @include ease(250ms);
    &.navbar-light .navbar-toggler {
        border: none;
    }

    &.navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    //Logo e Imagen
    .navbar-brand {
        img {
            max-width: 170px;
        }
    }
    //principal listas nav
    .navbar-nav {
        text-transform: uppercase;

        font-size: 14px;
        letter-spacing: 1px;
        font-family: $font-family;
        font-weight: 500;

        .nav-item {
            a.nav-link {
                color: $dark-opaque;
                letter-spacing: 2px;
                &:hover {
                    color: $accent !important;
                }
            }

            //boton call to action
            a.focus {
                border: 2px solid $dark-opaque;
                padding-left: 20px !important;
                padding-right: 20px !important;
                margin-top: 5px;
                display: inline-block;
                color: $dark-opaque;
                @media (min-width: $tablet-big) {
                    margin-left: 13px !important;
                    margin-top: 0px;
                }
                &:hover {
                    background: $accent;
                    border-color: $accent;
                    color: $white !important;
                    @include shadow-1(0.2);
                }
            }
        }
        .nav-link {
            @media (min-width: $tablet-small) {
                padding-left: 13px !important;
                padding-right: 13px !important;
            }
        }
    }

    //nav 2
    &.transparentNav {
        #logoOriginal {
            display: none;
            @media (max-width: $tablet-big) {
                display: block !important;
            }
        }
        #logoTransparent {
            @media (max-width: $tablet-big) {
                display: none !important;
            }
        }

        @media (min-width: $medium) {
            &.bg-light {
                padding-top: 10px;
                background: transparent !important;
            }
            .nav-item {
                a.nav-link {
                    color: $soft-white !important;
                    &:hover {
                        color: $white !important;
                    }
                }
                //boton call to action
                a.focus {
                    border: 2px solid $white;
                    color: $white;
                    &:hover {
                        background: $white;
                        border-color: $white;
                        color: $black !important;
                    }
                }
            }
            .socialGroup {
                i {
                    color: $white;
                }
            }
        }
    }

    //nav 1
    &.normalNav {
        .nav-item {
            a.nav-link {
                color: $dark-opaque;
                &:hover {
                    color: $bold-opaque !important;
                }
            }
            //boton call to action
            a.focus {
                border: 2px solid $dark-opaque;
                color: $dark-opaque;
                &:hover {
                    background: $dark-primary;
                    border-color: $dark-primary;
                    color: $white !important;
                    @include shadow-1(0.2);
                }
            }
        }
    }

    //Reducción del tiempo de collapse
    .collapsing {
        -webkit-transition: height 0.4s ease;
        -o-transition: height 0.4s ease;
        transition: height 0.4s ease;
    }
}

//----------Componente Buttons Bootstrap-------//
.btn {
    font-family: $font-family;
    font-size: 13px;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 2px solid;
    outline: none;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 500;
    @media (min-width: $medium) {
        font-size: 14px;
        letter-spacing: 4px;
        padding: 12px 28px;
    }

    &:focus {
        outline: none !important;
    }
    &:not(:disabled):not(.disabled) {
        outline: none;
        box-shadow: none;
    }
    &.btn-primary,
    &.btn-secondary {
        //Solución al outline - box shadow bootstrap
        &:not(.disabled):not(.disabled):active {
            box-shadow: none;
            border-color: $dark-opaque;
        }
    }
    &.btn-primary {
        background: $white;
        color: $dark-opaque;
        border-color: $opaque;
        &:hover,
        &:focus,
        &:active {
            background: $white !important;
            border-color: $bold-opaque;
            color: $bold-opaque !important;
            @include shadow-1(0.15);
        }
    }
    &.btn-secondary {
        background: transparent;
        color: $white;
        border-color: $white;
        &:hover,
        &:focus,
        &:active {
            background: $white !important;
            border-color: $white;
            color: $bold-opaque !important;
            @include shadow-1(0.15);
        }
    }

    &.btn-accent {
        background: transparent;
        border-color: $accent;
        color: $white;
        &:hover,
        &:focus,
        &:active {
            background: $white !important;
            border-color: $white;
            color: $bold-opaque !important;
            @include shadow-1(0.15);
        }
    }
}
